<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>club</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.paul.club.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>club</servlet-name>
  	<servlet-class>com.paul.club.servlet.ClubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>club</servlet-name>
  	<url-pattern>/club</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>clubAdd</servlet-name>
  	<servlet-class>com.paul.club.servlet.ClubAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>clubAdd</servlet-name>
  	<url-pattern>/clubAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>clubDelete</servlet-name>
  	<servlet-class>com.paul.club.servlet.ClubDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>clubDelete</servlet-name>
  	<url-pattern>/clubDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>clubModify</servlet-name>
  	<servlet-class>com.paul.club.servlet.ClubModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>clubModify</servlet-name>
  	<url-pattern>/clubModify</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>player</servlet-name>
  	<servlet-class>com.paul.club.servlet.PlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>player</servlet-name>
  	<url-pattern>/player</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>playerAdd</servlet-name>
  	<servlet-class>com.paul.club.servlet.PlayerAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>playerAdd</servlet-name>
  	<url-pattern>/playerAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>playerModify</servlet-name>
  	<servlet-class>com.paul.club.servlet.PlayerModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>playerModify</servlet-name>
  	<url-pattern>/playerModify</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>playerDelete</servlet-name>
  	<servlet-class>com.paul.club.servlet.PlayerDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>playerDelete</servlet-name>
  	<url-pattern>/playerDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>playerOut</servlet-name>
  	<servlet-class>com.paul.club.servlet.PlayerOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>playerOut</servlet-name>
  	<url-pattern>/playerOut</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bill</servlet-name>
  	<servlet-class>com.paul.club.servlet.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bill</servlet-name>
  	<url-pattern>/bill</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>addScore</servlet-name>
  	<servlet-class>com.paul.club.servlet.AddScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addScore</servlet-name>
  	<url-pattern>/addScore</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>deleteScore</servlet-name>
  	<servlet-class>com.paul.club.servlet.DeleteScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteScore</servlet-name>
  	<url-pattern>/deleteScore</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>returnNamesByTeam</servlet-name>
  	<servlet-class>com.paul.club.servlet.ReturnNamesByTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>returnNamesByTeam</servlet-name>
  	<url-pattern>/ajax/returnNamesByTeam</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>addDayBill</servlet-name>
  	<servlet-class>com.paul.club.servlet.AddBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addDayBill</servlet-name>
  	<url-pattern>/ajax/addDayBill</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>billQuery</servlet-name>
  	<servlet-class>com.paul.club.servlet.BillQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>billQuery</servlet-name>
  	<url-pattern>/billQuery</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>billDelete</servlet-name>
  	<servlet-class>com.paul.club.servlet.BillDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>billDelete</servlet-name>
  	<url-pattern>/billDelete</url-pattern>
  </servlet-mapping>
  
</web-app>
